
  

  <div class="site-section">
    <div class="container">
      <div class="col-md-6">
        <form class="rounded position-relative">
            <input class="form-control pe-5 bg-transparent" type="text" placeholder="Search"  [(ngModel)]="term"  id="" name="search" style="background-color:#75b239 ;">
           
        </form>
    </div><br>
      <div >
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Stock</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Pharmacie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-reclamation-tab" data-toggle="pill" href="#pills-reclamation" role="tab" aria-controls="pills-reclamation" aria-selected="false">Ajouter une réclamation</a>
            </li>
           
           
          </ul>
          <div class="tab-content" id="pills-tabContent" style="color: black;">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
             
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">CODE_PCT</th>
                        <th scope="col">NOM_COMMERCIAL</th>
                        <th scope="col">PRIX_PUBLIC</th>
                        <th scope="col">AP</th>
                        <th scope="col">CATEGORIE</th>
                        <th scope="col">DCI</th>
                        <th scope="col">QUANTITE</th>
                       
                        
                      </tr>
                    </thead>
                    <tbody *ngFor="let medicament of medicaments | filtreMedicament:term">
                      <tr >
                        
                            <td>{{medicament.code_pct}}</td>
                            <td>{{medicament.nomCom}}</td>
                            <td>{{medicament.prixPublic}}</td>
                            <td>{{medicament.ap}}</td>
                            <td>{{medicament.categorie}}</td>
                            <td>{{medicament.dci}}</td>
                            <td>{{medicament.qte}}</td>
                         
                        
                      
                      </tr>
                     
                    </tbody>
                  </table>
                  
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <table class="table">
                  
                    <thead>
                      <tr>
                        <th scope="col">NOM_PHARMACIE</th>
                        <th scope="col">REGION</th>
                        <th scope="col">ADRESSE</th>
                     
                                       
                      </tr>
                    </thead>
                    <tbody *ngFor="let pharmacie of objectPharmacie | filtreMedicament:term">
                      <tr >
                        
                            <td>{{pharmacie.nom}}</td>
                            <td>{{pharmacie.region}}</td>
                            <td>{{pharmacie.adresse}}</td>
                  
                           
                           
                       
                        
                      
                      </tr>
                     
                    </tbody>

                  </table>
                 
                  <button type="button" class="btn btn-primary col-md-12" style="border-radius: 20px;"  (click)="reclamationPharmacie()">
                    Voir les réclamations
                  </button>
    
    <!-- Modal -->
                  
            </div>
            <div class="tab-pane fade" id="pills-reclamation" role="tabpanel" aria-labelledby="pills-reclamation-tab">
              <form #loginForm="ngForm" (ngSubmit)="reclamations()">
								<!-- nom -->
								<div class="mb-4">
									<label for="exampleInputEmail1" class="form-label">Nom médicament :</label>
									<div class="input-group input-group-lg">
									
										<input  class="form-control " placeholder="Nom_medicament" 
										type="text" class="form-control"  [(ngModel)]="objectReclamation.nomMedicament" name="nom"
										>
									</div>
								</div>
                <div class="mb-4">
									<label for="exampleInputEmail1" class="form-label">Code_PCT :</label>
									<div class="input-group input-group-lg">
									
										<input  class="form-control " placeholder="Code_Pct" 
										type="text" class="form-control"  [(ngModel)]="objectReclamation.codePct" name="nom"
										>
									</div>
								</div>
                <div class="mb-4">
									<label for="exampleInputEmail1" class="form-label">Quantité :</label>
									<div class="input-group input-group-lg">
									
										<input  class="form-control " placeholder="Quantités" 
										type="text" class="form-control"  [(ngModel)]="objectReclamation.quantite" name="nom"
										>
									</div>
								</div>
                <div class="mb-4" hidden>
							
									<div class="input-group input-group-lg">
									
										<input  class="form-control " placeholder="Quantités" 
										type="text"   [(ngModel)]="objectReclamation.reponse" name="nom"
										>
									</div>
								</div>
                <div class="mb-4" >
							
									
                  
                 </div>
                
								
								
								
								<!-- Button -->
								<div class="form-group">
									<input type="submit" class="btn btn-primary py-3 px-4" value="Ajout réclamation"  (click)="reclamationFonction()" style="border-radius: 30px;">
								</div>
								
							</form>
              <div class="form-group">
                <input type="submit" class="btn btn-primary py-3 px-4" value="Voir les réclamations"  (click)="voirRecStock()" style="border-radius: 30px;">
              </div>
            </div>
            
          </div>
      </div>
    </div>
  </div>